/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2016, Aug 5, 2016 2:06:57 PM
    Author     : Russ
*/




/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:375px iPhone6 Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:375px){
    .second{
        min-height: 142em;
    }
    .resultsArea{
        height:125em;
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:400px  iPhone6 Plus Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:400px){
    .ourTeam .rightSide .nonSkew .blue-button.parallelogram{
        top: 10em;
        right: -1.5em;
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:568px   iPhone5 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:568px){
    .homeContent{
        @include span-columns(6);
        @include shift(2);
        margin-top: 8em;
    }
    .commercial{
        right: -630px;
    }
    #pollSlider-button{
        right:82px;
        top:4%;
    }
    .commercial .commercialContent{
        margin-top: 18.5em;
        margin-left: 20em;
    }
    .headerBanner{
        height:17em;
        h1{
            font-size: 3em;
        }
        p{
            top:9em;
        }
    }
    .second {
        min-height:144em;
        .nav{
            height:4em;
            ul.upper-menu{
                @include span-columns(9);
                @include shift(1);
                display: flex;
                margin-top:.5em;
            }
            .secondSocialIcons{
                @include span-columns(2);
                @include shift(10);
                @include omega();
                margin-top:-2.2em;
                display: flex;
                padding-right:5px;
            }
        }
    }
    .ourWork{
        background-position-y: 47px;
        height:21em;
        .leftShade{
            width:69%;
        }
        .nonSkew{
            h2{
               margin-top:2em; 
               left:-8.5em;
            }
            p{
                margin-top:14em;
                left:-9em;
            }
            .blue-button.parallelogram{
                margin-top: 12em;
                left: 4em;
            }
        }
        .resultsArea{
            height: 123em;
        }
    }
    .ourTeam{
        height:17em;
        .rightSide{
            width: 50%;
            margin-left:60%;
            
            .nonSkew {
                h2{
                    top:.5em;
                    left:-6em;
                    font-size: 2.5em;
                }
                p{
                    left: -12.5em;
                }
                .blue-button.parallelogram{
                    top: 11em;
                    right: 0em;
                }
            }
        }
        
    }
    .clientArea{
        h2{
            font-size: 3.5em;
        }
        h3{
            font-size: 1.1em;
            letter-spacing: 1px;
        }
        .leftClients{
            @include span-columns(6);
            padding:1em 1em 1em 2em;
        }
        .rightClients{
            @include span-columns(6);
            @include omega();
            .quoteBox{
                span{
                    ul{
                        li{
                            a{
                                margin-top:-4.5em;
                            }
                        }
                    }
                }
            }
        }
    }
    .commercialLogos{
        padding:0 3em;
        span{
            @include span-columns(3);
            padding:1em;
            img{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .latestNewsArea {
        .newsHeader {
            h2{
                font-size: 2em;
                margin-left:1%;
            }
        }
        .newsSocialIcons{
            padding-left:5em;
            a{
                .fa{
                    margin-left:12px;
                }
            }
        }
    }
    .latestNewsArea {
        .thePost {
            .firstHalf{
                height: 200px;
            }
            .secondHalf{
                height: 200px;
                padding:3em 2em;
                h2{
                    font-size: 1.5em;
                }
                .blue-button.parallelogram{
                        width:120px;
                    
                }
            }
            
        }
    }
    .subscribeArea{
        padding:0 3em;
       
    }
    .contactArea{
        height:17em;
        h2{
            font-size: 3.5em;
        }
    }
    .commercialPostContainer{
        @include outer-container;
        #gallery{
            @include span-columns(6); 
            #panel{
                padding-top: 1em;
                h3{
                    margin: 1em 0 0em 0;
                }
            }
            #thumbs{
                margin-top: -2em;
            }
        }
        .commercialPost{
            @include span-columns(6);
            @include omega();
            margin-top:0;
            h3{
                margin-top:0;
            }
            p{
                margin-top:2em;
            }
        }
    }
    .FocusArea{
        @include outer-container;
        .focusPost{
            @include span-columns(4);
            img{
                float: none;
                display: block;
                margin:0 auto;
                padding:0;
            }
            h3{
                margin-bottom: 1em;
                line-height: 1em;
                text-align: center;
                margin-top: .5em;
            }
            
        }
        .focusPost:nth-last-child{
            @include span-columns(4);
            @include omega();
        }
    }
    .commercialIcons{
        display: block;
        position: relative;
        min-height: 20em;
    }
    .IconArea{
        @include span-columns(4);
        padding: 1em;
        min-height: 22em;
        h3{
            position: absolute;
            bottom: 4.5em;
            font-size: 1em;
        }
    }
    .IconArea:nth-lst-child{
        @include span-columns(4);
        @include omega();
    }
    
    .footer{
        padding: 2em 1em 0 1em;
         min-height:15em;
        .footerInfo{
            @include span-columns(4);
            margin-top:2em;
            a{
                font-size: .6em;
            }
        }
        .footerMenu{
            @include span-columns(3);
        }
        .footerSocialIcons{
            @include span-columns(5);
            @include omega();
            display: flex;
        }
        p.copyright{
            top:3em;
        }
    }
    .recentPost{
        p{
            @include span-columns(6);
            @include shift(3);
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:660px iPhone6 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:660px){
    .homeContent{
        margin-top:12em;
    }
    .commercial{
        right:-88%;
        .commercialContent{
           margin-left: 24em;
        }
    }
    #pollSlider-button{
        right: 112px;
        top: 6%;
    }
    .headerBanner {
        height: 20em;
        h1{
            font-size: 3.5em;
            letter-spacing:1px;
        }
        p{
            top:10em;
        }
    }
    .ourWork{
        background-position-x: initial;
        background-position-y: inherit;
        height: 21em;
        .leftShade{
            left:-77%;
            
        }
        .nonSkew{
            h2{
                 line-height: 1em;
                 font-size: 3em;
                 margin-top: 1em;
                 left: -5.5em;
            }
            p{
                //top: 15em;
                //left: -6.5em;
            }
            .blue-button.parallelogram{
                //left:5.5em;
            }
        }
        .resultsArea{
            height:36em;
            .resultsImg{
                display:block;
                height:26em;
                h2{
                    //font-size:1em;
                    //letter-spacing: 1px;
                }
                .blue-button.parallelogram{
                    bottom:0;
                }
            }
        }
    }
    .second{
        min-height: 57em;
    }
    .ourTeam{
        height:20em;
        .rightSide{
            .nonSkew{
                h2{
                    left:-7em;
                }
                p{
                    left:-15em;
                }
                .blue-button.parallelogram{
                    right:2em;
                }
            }
        }
    }
    .clientArea {
        .rightClients {
            .quoteBox {
                p{
                    padding: 1.3em 0;
                }
            }
        }
    }
    .commercialText{
        p{
            padding:4em 8em;
            letter-spacing: 1px;
        }
    }
    .latestNewsArea {
        .newsHeader {
            h2{
                font-size: 2.5em;
            }
        }
        .newsSocialIcons{
            h3{
                font-size: 1.2em;
            }
            a{
                .fa{
                    font-size: 1.8em;
                }
            }
        }
    }
    .resultsImg{
        @include span-columns(4);
    }
    .resultsImg:nth-last-child{
        @include span-columns(4);
        @include omega();
    }
    .emailLink .gform_wrapper .top_label div.ginput_container{
        margin-left: 60%;
        margin-top: -3em;
        width:100%;
    }
    .emailLink .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
        padding: 13px 4px 13px 30px;
    }
    .emailLink .blue-button.parallelogram{
        left:22%;
    }
    .contactArea{
        height:20em;
        h2{
            padding-top:1.5em;
        }
    }
    .resultsArea {
        height: 36em;
        .resultsImg{
            h2{
                font-size:1em;
                letter-spacing: 1px;
            }
        }
    }
    .commercialPostContainer {
        .commercialPost {
            p{
                line-height: 3em;
            }
        }
    }
    .FocusArea{
        margin-top:3em;
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:736px   iPhone6 Plus Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:736px){
    .commercial{
        right:-76%;
    }
    .resultsArea{
        height:38em;
    }
    .ourWork{
        height:22em;
        .nonSkew{
            h2{
                top:0;
            }
        }
        .leftShade{
            //left:-67%;
        }
        .resultsArea {
            .resultsSection {
                h2{
                    font-size: 3em;
                }
                p{
                    font-size: 1.1em;
                    letter-spacing: 2px;
                }
            }
            .resultsImg{
                height:28em;
            }
        }
    }
    .ourTeam{
        height:22em;
        .rightSide{
            .nonSkew{
                h2{
                    font-size: 3.5em;
                    //top:1em;
                   left:-6em;
                }
                p{
                    font-size: 1em;
                    left:-11.5em;
                }
                .blue-button.parallelogram{
                   right:12em;
                   top:14em;
                    width:12em;
                    text-align:center;
                    
                }
            }
        }
    }
    .clientArea {
        .rightClients {
            .quoteBox {
                p{
                    font-size: 1.1em;
                }
            }
        }
    }
    .commercialText{
        p{
            font-size: 1.1em;
        }
    }
    .contactArea{
        height:22em;
    }
    .footer{
        .footerInfo{
            font-size:.8em;
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:768px iPad Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:768px){
   
    .header{
        .socialIcons{
            top:2em;
            right:4em;
        }
    }
    .nav{
        ul.menu{
            @include span-columns(8);
            @include shift(1);
            display:flex;
            justify-content:space-around;
            margin-top:2em;
            li{
                float:left;
                text-transform:uppercase;
                border-right:solid 1px #fff;
                padding-right:1em;
                a{
                    color:#fff;
                }
            }
        } 
    }
    .navContainer-2{
        .nav{
            ul.menu{
                li{
                    a{
                        color:$text-blue;
                    }
                }
            }
        }
    }
    .headerBanner {
        h1{
            font-size:4em;
        }
        p{
            top: 12em;
            letter-spacing: 1px;
        }
    }
    .commercialPostContainer{
        margin-top:3em;
        #gallery{
            #thumbs{
                margin-top:-4em;
                padding:3em;
            }
        }
        .commercialPost{
            padding-right: 3em;
            p{
                font-size: 1.2em;
            }
        }
    }
   .commercialIcons{
        .IconArea {
            h3{
                width:27%;
                font-size: 1.1em;
                letter-spacing: 1px;
                bottom:3.5em;
            }
        }
    }
    .homeContent{
        @include span-columns(7);
        margin-top: 30em;
        h2{
          font-size:6em;  
        }
        h3{
           font-size: 1.7em;
           letter-spacing: 1px;
        } 
        p{
            font-size: 1.5em;
            padding: 0 3em; 
        }
        a.button{
            width:15em;
            padding:1em 2em;
            font-size: 1.3em;
        }
        
    }
    #pollSlider-button{
        top:13%;
        span{
            .fa{
                font-size: 4em;
            }
            p{
                font-size:1em;
            }
        }
        p{
            font-size: 2em;
        }
    }
    #pollSlider-button span:nth-child(1){
        padding-left:4em;
    }
    #pollSlider-button span:nth-child(4){
        padding:0;
        position: relative;
        top:-1em;
    }
    .resultsArea {
        height: 44em;
        .resultsSection{
            h2{
                font-size: 3em;
            }
            p{
                font-size: 1.4em;
            }
        }
    }
    .second {
        .nav {
            ul.menu{
                display:none;
            }
            ul.upper-menu{
                @include span-columns(7);
                @include shift(3);
                display: flex;
                margin-top:1em;
            }
            .secondSocialIcons{
                margin-top: -1.7em;
            }
        }
    }
    .ourWork {
       .nonSkew {
           h2{
               //top:1.5em;
           }
           p{
               //top:17em
           }
           .blue-button.parallelogram{
               //top:14em;
           }
           
       }
   }
   .ourTeam {
       .rightSide {
           .nonSkew {
               .blue-button.parallelogram{
                    right: -2%;
                    top: 15em;
               }
           }
       }
   }
   .clientArea {
       .rightClients {
           span.leftArrow{
               margin-top:6em;
           }
           span.rightArrow{
               margin-top:6em;
           }
           .quoteBox {
               p{
                   letter-spacing: 2px;
               }
           }
       }
   }
   .latestNewsArea {
       .newsSocialIcons{
            padding-left: 10em;
       }
       .thePost{
           .firstHalf{
               height:273px;
           }
           .secondHalf{
               height:273px;
               span.date{
                   display: block;
                   margin-top:1em;
                   p{
                       font-size: 1.2em;
                   }
               }
               h2{
                    font-size: 1.8em;
                    padding: 0 1em;
               }
           }
       }
   }
   
   .emailLink .blue-button.parallelogram {
        left: 26%;
    }
    .emailLink .gform_wrapper .top_label div.ginput_container{
        margin-left: 80%;
    }
    .contactArea{
        h2{
            font-size:4em;
        }
        p{
            font-size:1.2em;
        }
    }
    .footer{
        .footerInfo{
            font-size:1em;
        }
    }
    .recentPost{
        h2{
            a{
                @include span-columns(6);
                @include shift(3);
                font-size:1.8em;
                
            }
        }
    }
}
/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:900px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:900px){
    .commercial {
        right: -67%;
        
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1024px       ipad Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1024px){
    .nav{
        ul.menu{
           @include span-columns(7);
            @include shift(3); 
            display: flex;
            margin-top:2.3em;
            li{
                padding-right:2em;
            }
        }
    }
    .headerBanner {
        height: 31em;
        h1{
            font-size: 5.5em;
        }
        p{
            font-size: 1.2em;
            top:10.5em;
        }
    }
    .commercialPostContainer {
        .commercialPost{
            padding-right: 6em;
            h3{
                font-size: 1.4em;
                letter-spacing: 2px;
            }
            p{
                font-size: 1.4em;
            }
        }
    }
    .FocusArea{
        h2{
            font-size: 3em;
        }
        p{
            font-size: 1.4em;
            letter-spacing: 2px;
        }
        .focusPost{
            img{
                float: left;
                margin: 0;
                padding-right: 1em;
            }
            h3{
                text-align: left;
            }
            p{
                font-size: 1em;
            }
        }
    }
    
    
    .homeContent{
        margin-top:26em;
    }
    .commercial{
        right:-53%;
        width:80%
    }
    #pollSlider-button{
        top: 10%;
        right: 168px;
    }
    .commercial {
        .commercialContent{
            margin-top: 35.5em;
            margin-left:31em;
        }
        h3{
            font-size: 4.7em;
            letter-spacing: 1px;
        }   
        
        a.button{
            width:15em;
            padding:1em 2em;
            font-size: 1.3em;
        }
    }
    .resultsArea{
        height:47em;
        h2{
            font-size: 4em;
        }
        p{
            letter-spacing: 2px;
        }
    }
    .ourWork{
        height:31em;
        .leftShade{
            left:-39%;
        }
        .nonSkew{
            h2{
                font-size: 4.5em;
                left:-4em;
            }
            p{
                margin-top: 15em;
                left: -1em;
                font-size: 1em;
                letter-spacing: 1px;
            }
            .blue-button.parallelogram{
                margin-top: 18em;
                left: 10em;
            }
            
        }
        .resultsArea{
            height:44em;
            
        }
    }
    .second{
        min-height:80em;
    }
    .ourTeam{
        height:31em;
        .rightSide{
            .nonSkew{
                position:relative;
                top:6em;
                h2{
                    font-size:4.5em;
                    left:-5.5em;
                }
                p{
                    letter-spacing: 1px;
                    top:14em;
                }
                .blue-button.parallelogram{
                    top:17em;
                }
            }
        }
    }
    .clientArea{
        h2{
            font-size:5.5em;
        }
        h3{
            font-size: 1.5em;
            letter-spacing: 3px;
            margin-bottom: 3em;
        }
        .rightClients{
            .quoteBox{
                p{
                    padding:1.5em 3em;
                    font-size: 1.3em;
                }
                h2{
                    font-size:2em;
                    margin-bottom: 0;
                    padding-bottom: o;
                }
                span{
                    ul{
                        li{
                            a{
                                margin-top: -6.5em;
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
    .commercialText{
        p{
            font-size: 1.5em;
        }
    }
    .commercialLogos{
        span{
            margin-top:3em;
        }
    }
    .latestNewsArea {
        .newsSocialIcons{
            padding-left:17em;
        }
        .thePost {
            .firstHalf{
                height:366px;
            }
            .secondHalf{
                height:366px;
                span.date{
                    margin-top:4em;
                }
                h2{
                    font-size: 2.3em;
                }
                .blue-button.parallelogram{
                    margin-top:3em;
                }
            }
        }
    }
    .emailLink {
        display:block;
        width:70%;
        margin:0 auto;
        .gform_wrapper .top_label div.ginput_container{
            width:22em;
            margin-left:60%;
        }
    }
    .contactArea{
        height:31em;
        h2{
            font-size: 6em;
        }
    }
    .footer{
        .footerSocialIcons{
            margin-top:2em;
        }
    }
    .recentPost{
        @include outer-container;
        p{
            padding: 0 5em;
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1140px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1140px){
    .navContainer{
        @include outer-container;
    }
    .headerBanner {
        height: 39em;
        h1 {
            font-size: 7em;
        }
        p{
            font-size: 1.4em;
            top: 11em;
            letter-spacing: 2px;
        }
    }
    .resultsArea {
        height: 50em;
        .resultsSection{
            h2{
                font-size: 4em;
            }
        }
    }
    .commercial {
        //right: -41%;
        
        .commercialContent{
            margin-left:38em;
        }
    }
    #pollSlider-button{
        width: 131px;
        height: 149px;
        top:8%;
    }
    
    .ourWork{
        height:39em;
        .nonSkew{
            position: relative;
            top: 3em;
            h2{
                font-size: 5.5em; 
            }
            p{
                margin-top: 15em;
                font-size: 1.2em;
            }
            .blue-button.parallelogram{
                margin-top: 22em;
            }
        }
        .resultsArea{
            
            height:50em;
            .resultsContainer{
                @include outer-container;
            }
        }
    }
    .latestNewsArea{
        max-width: 1128px;
        margin: 6em auto 0 auto;
    }
    .second{
        min-height:92em;
        .nav{
            .navContainer{
                @include outer-container;
            }
        }
    }
    .ourTeam{
        height:40em;
        .rightSide{
            .nonSkew{
                h2{
                    font-size: 5.5em;
                }
                p{
                    font-size:1.2em;
                }
                .blue-button.parallelogram{
                    top: 22em;
                }
            }
        }
    }
    .clientArea{
        @include outer-container;
    }
    .commercialText{
        @include outer-container;
    }
    .commercialLogos{
        @include outer-container;
    }
    .subscribeArea {
        @include outer-container;
        h2{
            font-size: 5em;
        }
        h3{
            font-size: 1.3em;
            letter-spacing: 1px;
        }
    }
    .emailLink .gform_wrapper .top_label div.ginput_container{
        width: 25em;
    }
    .contactArea {
        height: 40em;
        h2{
            padding-top:2.5em;
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1300px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1300px){
    .commercial {
        //right: -30%;
        .commercialContent {
            margin-left: 44em;
        }
    }
}
/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1600px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1600px){
    .commercial {
        //right: -21%;
        .commercialContent {
            margin-left: 46em;
        }
    }
    .ourWork {
        height: 44em;
        .nonSkew{
            top:7em;
        }
    }
    .ourTeam {
        height: 44em;
        .rightSide{
            .nonSkew{
                right:10%;
            }
        }
    }
    .contactArea {
        height: 44em;
        h2{
            padding-top:3.5em;
        }
    }
}

/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1760-px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1760px){
    .commercial {
        //right: -30%;
        .commercialContent {
            margin-left: 50em;
        }
    }
}





